@charset "UTF-8";

.leftSection, .rightSection{
    float:left;
}

.leftSection{
    overflow:auto;
    padding-top:3%;
    padding-left:5%;
    width :50%; 
}
.rightSection{
    margin-top: 7em;
    margin-left: 5em;
    padding: 2%;
    width: 320px;
    height: 120px;
    border: solid 1px #EEE;
    position: absolute;
    left: 50%;
    position: fixed;
}

.priceInfo{
    width: 25%;
    height: 20%;
    position: fixed;
}

.btn_purchase {
   background: #E45D5D;
   color: #FFF;
    font-size: 0.8em;
    width: 100%;
    height: 20%;
   border-radius: 5px;
   border-bottom: 4px solid #B93838;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   display: inline-block;
   font-family: 'Open Sans', sans-serif;
   cursor: pointer;
   outline: none;
   text-transform: uppercase;
   border-right: none;
   border-left: none;
   border-top: none;
    margin-top: 7%;
}

.btn_purchase a:hover{
   background: #1C1C20;
   border-bottom: 4px solid #333;
}

.cartList{
    float: left;
    width : 80%;
    border: solid 1px #EEE;
    margin-bottom:0.5em;
}

.cartList ul li{
    float:left;
    margin-right : 10%;
}

.image{
    width:150px;
    height: 150px;
}

.list{
 padding:0.5em;
}

.priceInfoTable{
    width:100%;
}
.priceInfoTable tr th{
    text-align:left;
    width:50%;
}

.priceInfoTable tr td{
    text-align:right;
    width:50%;
}

.mainTitle{
    width:80%;
    font-size:24px;
    font-style:Bold;    
}

.cartList ul li{
    float:left;
    margin-right : 10%;
}

.productImage{
    display: inline-block;
}

.infoSection{
    display: inline-block;
    position: absolute;
    margin: 1%;
    max-width: 230px;
    max-height : 150px;
}

.ccontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .ccontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkForDelete {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    position: relative;
    float: right;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a grey background color */
  .ccontainer:hover input ~ .checkForDelete {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .ccontainer input:checked ~ .checkForDelete {
    background-color: #fa7f94;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkForDelete:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .ccontainer input:checked ~ .checkForDelete:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .ccontainer .checkForDelete:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


.deleteBtn{
    float: right;
    margin-top: 10%;
   background: #E45D5D;
   color: #FFF;
   font-size: 0.5em;
   padding: 0.7em 1.2em;
   border-radius: 5px;
   border-bottom: 4px solid #B93838;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -o-transition: 0.5s all;
   font-family: 'Open Sans', sans-serif;
   cursor: pointer;
   outline: none;
   text-transform: uppercase;
   border-right: none;
   border-left: none;
    border-top: none;
    
}

.deleteBtn a:hover{
   background: #1C1C20;
   border-bottom: 4px solid #333;
}