@charset "UTF-8";

.tempInfo ul li {
	float: left;
	margin-right: 30px;
}

.ctrl {
	width: 100px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #D5DCE6;
	background-color: #fff;
	border-radius: 5px;
	font-size: 15px;
}

.ctrl__counter {
	position: relative;
	width: 50px;;
	height: 25px;
	color: #333C48;
	text-align: center;
	overflow: hidden;
}

.ctrl__counter.is-input .ctrl__counter-num {
	opacity: 0;
	transition: opacity 100ms ease-in;
}

.ctrl__counter.is-input .ctrl__counter-input {
	opacity: 1;
	transition: opacity 100ms ease-in;
}

.ctrl__counter-input {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 2;
	box-shadow: none;
	outline: none;
	border: none;
	color: #333C48;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 100ms ease-in;
	transition: opacity 100ms ease-in;
}

.ctrl__counter-num {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 25px;
	opacity: 1;
	transition: opacity 100ms ease-in;
}

.ctrl__counter-num.is-increment-hide {
	opacity: 0;
	transform: translateY(-50px);
	animation: increment-prev 100ms ease-in;
}

.ctrl__counter-num.is-increment-visible {
	opacity: 1;
	transform: translateY(0);
	animation: increment-next 100ms ease-out;
}

.ctrl__counter-num.is-decrement-hide {
	opacity: 0;
	transform: translateY(50px);
	animation: decrement-prev 100ms ease-in;
}

.ctrl__counter-num.is-decrement-visible {
	opacity: 1;
	transform: translateY(0);
	animation: decrement-next 100ms ease-out;
}

.ctrl__button {
	width: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	background-color: #E45D5D;
	transition: background-color 100ms ease-in;
}

.ctrl__button:hover {
	background-color: #f18787;
	transition: background-color 100ms ease-in;
}

.ctrl__button:active {
	background-color: #E45D5D;
	transition: background-color 100ms ease-in;
}

.ctrl__button--decrement {
	border-radius: 5px 0 0 5px;
}

.ctrl__button--increment {
	border-radius: 0 5px 5px 0;
}

/*-----start-details-page----*/
.product-head li {
	display: inline-block;
}

.product-head li a {
	color: #08080B;
	font-weight: 700;
	padding: 0.2em;
	font-size: 1.25em;
	padding-bottom: 0.2em;
	display: inline-block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}

.product-head li.active-page a {
	color: #E45D5D;
}

#carousel-wrapper {
	position: relative;
}

#carousel, #thumbs {
	overflow: hidden;
}

#carousel span, #carousel img, #thumbs a, #thumbs img {
	display: block;
	float: left;
}

#carousel span, #carousel a, #thumbs span, #thumbs a {
	position: relative;
}

#carousel img, #thumbs img {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#carousel img.glare, #thumbs img.glare {
	width: 102%;
	height: auto;
}

#carousel span {
	width: 554px;
	height: 313px;
}

#thumbs-wrapper {
	padding: 20px 40px;
	position: relative;
}

#thumbs a {
	width: 150px;
	height: 100px;
	margin: 0 10px;
	overflow: hidden;
}

#thumbs a:hover, #thumbs a.selected {
	border-color: #566;
}

#wrapper img#shadow {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#prev, #next {
	background: transparent url('../images/carousel_nav.png') no-repeat 0 0;
	display: block;
	width: 19px;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
}

#prev {
	background-position: 0 0;
	left: 10px;
}

#next {
	background-position: -19px 0;
	right: 10px;
}

#prev:hover {
	background-position: 0 -20px;
}

#next:hover {
	background-position: -19px -20px;
}

#prev.disabled, #next.disabled {
	display: none !important;
}

.details-left {
	width: 100%;
}

#buyBtn {
	border: 0.5px solid rgb(0, 0, 0);
	padding: 15px 1em;
	font-size: rem;
	color: white;
	background-color: #424242;
	width: 100%;
	margin-top: 1em;
}

#arrangeBtn {
	border: 0.5px solid rgb(0, 0, 0);
	padding: 15px 1em;
	font-size: rem;
	color: white;
	background-color: #424242;
	width: 100%;
	margin-top: 1em;
}

#cartBtn {
	border: 0.5px solid rgb(0, 0, 0);
	padding: 15px 1em;
	font-size: rem;
	color: white;
	background-color: #424242;
	width: 48.5%;
	margin-left: 1%;
}

#buyBtn {
	border: 0.5px solid rgb(0, 0, 0);
	padding: 15px 1em;
	font-size: rem;
	color: white;
	background-color: #424242;
	width: 48.5%;
	margin-right: 1%;
}

.product-details {
	padding-bottom: 0em;
}

.details-left-slider {
	width: 48%;
	height: 37.5em;
	margin-left: 1%;
	margin-bottom: 0.2%;
}

.details-left-info {
	padding-top: 6%;
	margin-left: 2%;
	width: 48%;
}

select {
	width: 100%; /* �썝�븯�뒗 �꼫鍮꾩꽕�젙 */
	padding: .8em .5em; /* �뿬諛깆쑝濡� �넂�씠 �꽕�젙 */
	font-family: inherit; /* �룿�듃 �긽�냽 */
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%; /* �꽕�씠�떚釉� �솕�궡�몴 ��泥� */
	border: 1px solid #999;
	border-radius: 0px; /* iOS �뫁洹쇰え�꽌由� �젣嫄� */
	-webkit-appearance: none; /* �꽕�씠�떚釉� �쇅�삎 媛먯텛湲� */
	-moz-appearance: none;
	appearance: none;
}

.slider {
	margin-top: 4em;
	width: 32em;
	height: 32em;
	position: relative;
}

.slider_item {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: absolute;
	z-index: 0;
	opacity: 0;
	transition: all .7s ease-in-out;
	transform: scale(.8);
}

img {
	width: 100%;
}

.showing {
	opacity: 1;
	z-index: 1;
	transform: none;
}

.product-tinfo img {
	/*  object-fit: scale-down; */
	margin-top: 5%;
	margin-bottom: 5%;
}