@charset "UTF-8";

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style : none;
}

.Title{
    color: #fff;
    font-size:32px;
    font:bolder;
}

.wrap{
    margin:0 auto;
}

.header{
     background-color : #424242;
     width : 100%;
     padding: 1.5rem;
     position : absolute;
     margin-top : 20px;
}

.header::after{
    content:'';
    display :block;
    clear:both;
}

.middle{
    background-color:#424242;
    height : 3.75rem;
    font-size : 20px;
    color : white;
    padding-top : 15px;
    padding-left : 50px;
}

.orderInfo{
    margin-left:25%;
    margin-right:25%;
    margin-top:5%;
    margin-bottom:5%;
    top: 25%;
    width : 50%;
}

#table1{
    text-align: left;
    width : 100%;
}

#table1 tr td {
    height :60px;
    padding: 2%;
}

#table1 tr th{
    text-align: left;
}

#table2 {
    width:100%;
    text-align:left;
}
#table2 tr th{
    width :13%;
}


.itemImage{
    margin:5px;
    width : 70px;
    height :70px;
}

.ip_text {
    width : 100%;
    height:100%;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: rgba(233, 233, 233, 0.664);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

#changeBtn{
    margin-left:15%;
    width: 80%;
    height: 100%;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    background-color: #424242;
}

#table3{
    width :100%;    
}

#table3 th{
    width:20%;
    text-align:left;    
}
#table3 td{
    text-align: right;
    width:80%;
}

.pay{
    margin-top:10px;
}
.pay ul li{
    margin-right:20px;
    float:left;
}

.completeBtn{
    width:100%;
    background-color:#424242;
    color:white;
    font-size:15px;
    font-weight: bold;
    height:45px;
    padding:5px;
    margin-top:20px;
    border-radius: 10px;
}