@charset "UTF-8";

.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #424242;
	overflow-x: hidden;
	transition: 0.5s ease-in-out;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.2s ease-in-out;
}

.sidenav h3 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #fff;
	display: block;
	transition: 0.2s ease-in-out;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #a7bcff;
}

.content {
	margin-left: 20%;
	padding: 1px 16px;
}

#functionName {
	width: 85%;
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
	margin-left: 10%;
	text-align: center;
	color: white;
	background-color: #424242;
	border-left: 1px solid #000000;
	border-right: 1px solid
}

.category ul li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.searchBtn {
	width: 70px;
	height: 30px;
	border-radius: 3px;
	font-size: 17px;
	color: #fff;
	background-color: #424242;
}

.infoWrapper {
	padding: 5px;
	width: 95%;
	height: px;
	background-color: #c9c9c9;
	border-left: 1px solid #000000;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.buttonGroup ul li {
	float: left;
	list-style: none;
	margin-left: 15px;
}

.cancelBtn {
	/* margin-left:85px; */
	width: 70px;
	height: 30px;
	border-radius: 3px;
	font-size: 17px;
	color: #fff;
	background-color: #424242;
}

.insertBtn {
	margin-left: 5px;
	width: 70px;
	height: 30px;
	border-radius: 3px;
	font-size: 17px;
	color: #fff;
	background-color: #424242;
}

.box select {
	background-color: #ffffff;
	color: black;
	padding: 12px;
	width: 200px;
	border: none;
	font-size: 15px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
}

.box::before {
	content: "\f13a";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	height: 25px;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}

.box:hover::before {
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
	padding: 30px;
}

.category input[type="text"] {
	width: 150px;
	/* 원하는 너비 설정 */
	height: 15px;
	/* 높이값 초기화 */
	line-height: normal;
	/* line-height 초기화 */
	padding: .8em .5em;
	/* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
	font-family: inherit;
	/* 폰트 상속 */
	border: 1px solid #999;
	outline-style: none;
	/* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none;
	/* 브라우저별 기본 스타일링 제거 */
	-moz-appearance: none;
	appearance: none;
}

.productInfo {
	width: 100%;
	border-collapse: collapse;
	font-size: 15px;
	text-align: left;
}

.productInfo .menu {
	width: 100px;
	text-align: center;
}

#productName {
	margin-left: 40px;
	width: 400px;
}

#count {
	width: 50px;
}

#productId {
	width: 350px;
}

#num1, #num2, #num3 {
	width: 50px;
}

.productImage ul li {
	float: left;
	list-style: none;
}

.arrangeImage ul li {
	float: left;
	list-style: none;
}

.mainImage ul li {
	float: left;
	list-style: none;
}

.upload1-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload3-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.btn {
	margin-left: 150px;
	border: 2px solid gray;
	color: white;
	background-color: #424242;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 15px;
	font-weight: bold;
}

.upload1-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.upload3-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.upload2-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.upload2-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.mainImage {
	width: 40%;
	height: 50px;
	display: inline-block;
}

#image_container3 {
	width: 250px;
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.productImage {
	width: 40%;
	height: 50px;
	display: inline-block;
}

#image_container1 {
	width: 71.25%;
	height: 250px;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: scroll;
}

#image_container3 {
	width: 23.75%;
	height: 250px;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: scroll;
}

.arrangeImage {
	height: 50px;
}

#image_container2 {
	width: 95%;
	height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.sel {
	background-color: #ffffff;
	color: black;
	padding: 12px;
	width: 200px;
	border: none;
	font-size: 15px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
}

.red {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: red;
	border: 1px solid black;
	border-radius: 50%;
}

.orange {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgb(255, 136, 0);
	border: 1px solid black;
	border-radius: 50%;
}

.yellow {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgb(255, 230, 0);
	border: 1px solid black;
	border-radius: 50%;
}

.yellow-green {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgba(127, 238, 0, 0.925);
	border: 1px solid black;
	border-radius: 50%;
}

.green {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgb(0, 151, 25);
	border: 1px solid black;
	border-radius: 50%;
}

.sky-blue {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgb(122, 217, 255);
	border: 1px solid black;
	border-radius: 50%;
}

.navy {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgba(1, 3, 131, 0.877);
	border: 1px solid black;
	border-radius: 50%;
}

.white {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgb(255, 255, 255);
	border: 1px solid black;
	border-radius: 50%;
}

.gray {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgb(107, 107, 107);
	border: 1px solid black;
	border-radius: 50%;
}

.black {
	position: relative;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	float: left;
	width: 23px;
	height: 23px;
	background-color: rgb(0, 0, 0);
	border: 1px solid black;
	border-radius: 50%;
}