@charset "UTF-8";




/* .details-left{
    margin-top:1em;
    width:100%;
}

.details-left-content{
    padding:1%;
    float:left;
    width:48%;
    margin-bottom:0.2%;
}

.details-right-head{
    margin-top:10%;
}


.image{    
    padding-top:2%;
    padding-left:3%;
    padding-right:3%;
    width:94%;
}

.details-left h1{
    font-size:25px;  
    width:94%;
    padding-right:3%;
    padding-left:3%;
}


.boardInfo{
	width:67%;
    color: #555555;	
	font-size:1.2em;
	float:left;
}

.likeInfo{
	width:26%;
    color: #555555;	
	font-size:1.2em;
	text-align:right;
	float:left;
	margin-bottom:1em;
}

.details-left-content ul li span{
	
    padding:0.5em 0;
    color: #7c7c7c;
	font-size: 1.2em;
	margin-left:1em;
} 


.board-detail-info{
    padding:1em 1em;
	color: #000000;
	display: block;
	line-height: 1.5em;
}



.product-more-details ul li{
    float:right;
}


.BtnGroup Button{
	margin-right:2em;
	float:right;
	height:2.5em;
    width:18%;
    background: #777777;
	color: #FFF;
	font-size: 0.9em;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.details-left-info{
    float:left;
    padding-top:3%;
    margin-left:2%;
	width:47%;
	height:45em;
  }


.insertComment{
	margin-bottom:2em;
	padding:0.2em 0;
	height:3em;
	width:100%;
	float:right;
}

.insertComment ul li input[type="text"]{
	margin-right:1em;
	width:70%;
	padding: 0.7em 2em;
}

.insertBtn{
    height:2.8em;
    width:15%;
    background: #E45D5D;
	color: #FFF;
	font-size: 0.9em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
}

#likeBtn{
background-color:rgb(255, 255, 255);
border:none;
outline:none;
}

#likeImg{
	border:none;
width:30px;
height:30px;
}


#likeIt{
	padding:0.5em 0;
    color: #000000;
	font-size: 1.2em;
}


.commentList{
	width : 100%;  
}

댓글 css

#firstComment{
	border: solid .5px #a5a5a5;
	width:85%;
	padding:0.5em 2em;
	font-size:1.1em;
    padding-right:none;
    float:left;
}

#secondComment{
	border: solid .5px #a5a5a5;
	width:85%;
	padding:0.5em 2em;
	font-size:1.1em;
    padding-right:none;
    float:left;
}

#insertSecondComment{
	border: solid .5px #a5a5a5;
	width:85%;
	padding:0.5em 2em;
	font-size:1.1em;
    padding-right:none;
    float:left;
}

#sComment{
	width:58%;
	margin-right:1%;
	padding: 0.7em 2em;
}

#registerScommentBtn, #cancel{
	height:2.3em;
    width:10%;
    background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
}

.pagination {
	float:right; 
	position:relative; 
	left:-50%;
}
  
.pagination a {
	margin-top:1.5em;
	color: black;
	font-size:1.15em;
	float: left;
	padding: 8px 16px;
	position:relative; 
	margin-right:20px; 
	left:50%;
}

.list{
 padding:0.5em;
}

#reply, #modify, #delete, .modifyBtn{
	margin-left:0.3em;
	float:right;
    background-color:#777777;
	border-radius: 0.3em;
	height:2.3em;
	color:White;
    font-size:12px;
}

#modify:hover{
	background: #1C1C20;
}

#delete:hover{
	background: #1C1C20;
}

#reply:hover{
	background: #1C1C20;
}

#delte{
	right:0;
}


@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.details-left-content {
		width: 43%;
	}
	.details-left-info {
		width: 52%;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.details-left-content {
		width: 51%;
	}
	.details-left-info {
		width: 47%;
	}
}


@media only screen and (max-width: 640px) and (min-width: 480px) {
	.details-left-content {
		width: 100%;
		float: none;
	}
	.details-left-info {
		width: 100%;
		float:none;
		clear: both;
	}

	.details-left h1{
		font-size:20px;  
		width:94%;
	}

	.boardInfo{
		width:65%;
		color: #555555;	
		font-size:1em;
		float:left;
	}

	.likeInfo{
		width:26%;
		color: #555555;	
		font-size:1em;
		text-align:right;
		float:left;
		margin-bottom:1em;
	}
	

	#likeBtn{
		background-color:rgb(255, 255, 255);
		border:none;
		outline:none;
		}
		
		#likeImg{
		border:none;
		width:20px;
		height:20px;
		}
		
		
		#likeIt{
			padding:0.5em 0;
			color: #000000;
			font-size: 1.2em;
		}
	
		.BtnGroup Button{
			margin-right:1.5em;
			float:right;
			height:2.5em;
			width:22%;
			background: #777777;
			color: #FFF;
			font-size: 0.7em;
			border-radius: 5px;
			font-family: 'Open Sans', sans-serif;
		}

		.insertComment{
			border-top:solid 1px #bbbbbb;
			margin-bottom:1em;
			padding:1.5em 0;
			padding-bottom:none;
			height:3em;
			width:100%;
			float:right;
		}
		
		.insertComment ul li input[type="text"]{
			margin-right:.1em;
			width:65%;
			padding: 0.5em 2em;
		}
		
		.insertBtn{
			padding: 0.3em 0;
			width:15%;
			background: #E45D5D;
			color: #FFF;
			font-size: 0.75em;
			border-radius: 5px;
			border-bottom: 4px solid #B93838;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
			outline: none;
			text-transform: uppercase;
			border-right: none;
			border-left: none;
			border-top: none;
		}

		#firstComment{
			border: solid .5px #a5a5a5;
			width:85%;
			padding:0.5em 2em;
			font-size:1em;
			padding-right:none;
			float:left;
		}
		
		#secondComment{
			border: solid .5px #a5a5a5;
			width:85%;
			padding:0.5em 2em;
			font-size:1em;
			padding-right:none;
			float:left;
		}
		
		#insertSecondComment{
			border: solid .5px #a5a5a5;
			width:88%;
			height:2.3em;
			font-size:.85em; 
			padding-right:none;
			float:left;
		}
		
		#sComment{
			width:53%;
			margin-right:1%;
			padding: 0.5em 2em;
		}
		
		#registerScommentBtn, #cancel{
			height:2.3em;
			width:10%;
			background: #E45D5D;
			color: #FFF;
			font-size: 0.8em;
			border-radius: 5px;
			border-bottom: 4px solid #B93838;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
			outline: none;
			border-right: none;
			border-left: none;
			border-top: none;
		}
		
	
		#reply, #modify, #delete{
			margin-left:0.3em;
			float:right;
			background-color:#777777;
			border-radius: 0.3em;
			height:2.3em;
			color:White;
			font-size: 0.65em;
		}


}
@media only screen and (max-width: 480px) and (min-width: 320px) {

	.details-left-content {
		width: 100%;
		float: none;
	}
	.details-left-info {
		width: 100%;
		float:none;
		clear: both;
	}
}

@media only screen and (max-width: 320px) and (min-width: 240px) {
	.details-left-content {
		width: 100%;
		float: none;
	}
	.details-left-info {
		width: 100%;
		float:none;
		clear: both;
	}
} */










.details-left{
    margin-top:1em;
    width:100%;
}

.details-left-content{
    padding:1%;
    float:left;
    width:48%;
    margin-bottom:0.2%;
}

.details-right-head{
    margin-top:10%;
}


.image{    
    padding-top:2%;
    padding-left:3%;
    padding-right:3%;
    width:94%;
}

.details-left h1{
    font-size:25px;  
    width:94%;
    padding-right:3%;
    padding-left:3%;
}



.details-left-content ul li span{
	
    padding:0.5em 0;
    color: #7c7c7c;
	font-size: 1.2em;
	margin-left:1em;
} 


.board-detail-info{
    padding:1em 1em;
	color: #000000;
	display: block;
	line-height: 1.5em;
}



.product-more-details ul li{
    float:right;
}


.BtnGroup Button{
	margin-right:2em;
	float:right;
	height:2.5em;
    width:18%;
    background: #777777;
	color: #FFF;
	font-size: 0.9em;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.details-left-info{
    float:left;
    padding-top:3%;
    margin-left:2%;
	width:47%;
	height:45em;
  }


.insertComment{
	margin-bottom:2em;
	padding:0.2em 0;
	height:3em;
	width:100%;
	float:right;
}

.insertComment ul li input[type="text"]{
	margin-right:1em;
	width:70%;
	padding: 0.7em 2em;
}

.insertBtn{
    height:2.8em;
    width:15%;
    background: #E45D5D;
	color: #FFF;
	font-size: 0.9em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
}

#likeBtn{
background-color:rgb(255, 255, 255);
border:none;
outline:none;
}

#likeImg{
	border:none;
width:30px;
height:30px;
}


#likeIt{
	padding:0.5em 0;
    color: #000000;
	font-size: 1.2em;
}


.commentList{
	width : 100%;  
}

/* 댓글 css*/

#firstComment{
	border: solid .5px #a5a5a5;
	width:85%;
	padding:0.5em 2em;
	font-size:1.1em;
    padding-right:none;
    float:left;
}

#secondComment{
	border: solid .5px #a5a5a5;
	width:85%;
	padding:0.5em 2em;
	font-size:1.1em;
    padding-right:none;
    float:left;
}

#insertSecondComment{
	border: solid .5px #a5a5a5;
	width:85%;
	padding:0.5em 2em;
	font-size:1.1em;
    padding-right:none;
    float:left;
}

#sComment{
	width:58%;
	margin-right:1%;
	padding: 0.7em 2em;
}

#registerScommentBtn, #cancel{
	height:2.3em;
    width:10%;
    background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	border-right: none;
	border-left: none;
	border-top: none;
}

.pagination {
	float:right; 
	position:relative; 
	left:-50%;
}
  
.pagination a {
	margin-top:1.5em;
	color: black;
	font-size:1.15em;
	float: left;
	padding: 8px 16px;
	position:relative; 
	margin-right:20px; 
	left:50%;
}

.list{
 padding:0.5em;
}

#reply, #modify, #delete{
	margin-left:0.3em;
	float:right;
    background-color:#777777;
	border-radius: 0.3em;
	height:2.3em;
	color:White;
    font-size:12px;
}

#delte{
	right:0;
}




@media only screen and (max-width:1440px) and (min-width:1360px){

	.boardInfo{
		width:60%;
		color: #555555;	
		font-size:0.9em;
		float:left;
	}
	
	.likeInfo{
		width:30%;
		color: #555555;	
		font-size:1.1em;
		text-align:right;
		float:left;
	}

	#likeIt{
		margin-left:-0.1em;
		font-size:1.5em;
	}

	.details-left-content {
		width: 50%;
	}

	.details-left-info {
		margin-left:1%;
		width: 45%;
	}

	.insertComment{
		border-top:solid 1px #bbbbbb;
		margin-bottom:1em;
		padding:1.5em 0;
		padding-bottom:none;
		height:3em;
		width:100%;
		float:right;
	}
	
	.insertComment ul li input[type="text"]{
		margin-right:.1em;
		width:70%;
		padding: 0.7em 1.5em;
	}
	
	.insertBtn{
		height:3em;
		width:15%;
		background: #E45D5D;
		color: #FFF;
		font-size: 0.75em;
		border-radius: 5px;
		border-bottom: 4px solid #B93838;
		font-family: 'Open Sans', sans-serif;
		cursor: pointer;
		outline: none;
		text-transform: uppercase;
		border-right: none;
		border-left: none;
		border-top: none;
	}

	#sComment{
		width:55%;
		margin-left:1%;
		margin-right:1%;
		padding: 0.3em 2em;
	}

	.BtnGroup Button{
		margin-right:1.5em;
		float:right;
		height:2.5em;
		width:30%;
		background: #777777;
		color: #FFF;
		font-size: 0.8em;
		border-radius: 5px;
		font-family: 'Open Sans', sans-serif;
	}

}

@media only screen and (max-width:1360px) and (min-width:1280px){

	.boardInfo{
		width:60%;
		color: #555555;	
		font-size:1em;
		float:left;
	}
	
	.likeInfo{
		width:30%;
		color: #555555;	
		font-size:1.1em;
		text-align:right;
		float:left;
	}

	#likeIt{
		margin-left:-0.1em;
		font-size:1.5em;
	}

	.details-left-content {
		width: 50%;
	}

	.details-left-info {
		width: 45%;
	}

	.insertComment{
		border-top:solid 1px #bbbbbb;
		margin-bottom:1em;
		padding:1.5em 0;
		padding-bottom:none;
		height:3em;
		width:100%;
		float:right;
	}
	
	.insertComment ul li input[type="text"]{
		margin-right:.1em;
		width:65%;
		padding: 0.5em 2em;
	}
	
	.insertBtn{
		padding: 0.3em 0;
		width:15%;
		background: #E45D5D;
		color: #FFF;
		font-size: 0.75em;
		border-radius: 5px;
		border-bottom: 4px solid #B93838;
		font-family: 'Open Sans', sans-serif;
		cursor: pointer;
		outline: none;
		text-transform: uppercase;
		border-right: none;
		border-left: none;
		border-top: none;
	}


	#sComment{
		width:54%;
		margin-left:2%;
		margin-right:1%;
		padding: 0.3em 2em;
	}

	.BtnGroup Button{
		margin-right:1.5em;
		float:right;
		height:2.5em;
		width:30%;
		background: #777777;
		color: #FFF;
		font-size: 0.8em;
		border-radius: 5px;
		font-family: 'Open Sans', sans-serif;
	}

	#registerScommentBtn, #cancel{
		height:2.3em;
		width:10%;
		background: #E45D5D;
		color: #FFF;
		font-size: 0.7em;
		border-radius: 5px;
		border-bottom: 4px solid #B93838;
		font-family: 'Open Sans', sans-serif;
		cursor: pointer;
		outline: none;
		border-right: none;
		border-left: none;
		border-top: none;
	}

}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.details-left-content {
		width: 50%;
	}
	.details-left-info {
		width: 45%;
	}

	.boardInfo{
		width:65%;
		color: #555555;	
		font-size:0.9em;
		float:left;
	}
	
	.likeInfo{
		width:30%;
		color: #555555;	
		font-size:1.1em;
		text-align:right;
		float:left;
	}

	#likeIt{
		font-size:1.3em;
	}
	
	#sComment{
		width:55%;
		margin-left:1%;
		margin-right:1%;
		padding: 0.3em 2em;
	}
	.BtnGroup Button{
		margin-right:1.5em;
		float:right;
		height:2.5em;
		width:30%;
		background: #777777;
		color: #FFF;
		font-size: 0.8em;
		border-radius: 5px;
		font-family: 'Open Sans', sans-serif;
	}

	.insertComment{
		border-top:solid 1px #bbbbbb;
		margin-bottom:1em;
		padding:1.5em 0;
		padding-bottom:none;
		height:3em;
		width:100%;
		float:right;
	}
	
	.insertComment ul li input[type="text"]{
		margin-right:.1em;
		width:65%;
		padding: 0.5em 2em;
	}
	
	.insertBtn{
		padding: 0.3em 0;
		width:15%;
		background: #E45D5D;
		color: #FFF;
		font-size: 0.75em;
		border-radius: 5px;
		border-bottom: 4px solid #B93838;
		font-family: 'Open Sans', sans-serif;
		cursor: pointer;
		outline: none;
		text-transform: uppercase;
		border-right: none;
		border-left: none;
		border-top: none;
	}

	#firstComment{
		border: solid .5px #a5a5a5;
		width:85%;
		padding:0.5em 2em;
		font-size:1em;
		padding-right:none;
		float:left;
	}
	
	#secondComment{
		border: solid .5px #a5a5a5;
		width:85%;
		padding:0.5em 2em;
		font-size:1em;
		padding-right:none;
		float:left;
	}
	
	#insertSecondComment{
		border: solid .5px #a5a5a5;
		width:88%;
		height:2.3em;
		font-size:.85em; 
		padding-right:none;
		float:left;
	}
	
	#sComment{
		width:53%;
		margin-right:1%;
		padding: 0.5em 2em;
	}
	
	#registerScommentBtn, #cancel{
		height:2.3em;
		width:10%;
		background: #E45D5D;
		color: #FFF;
		font-size: 0.8em;
		border-radius: 5px;
		border-bottom: 4px solid #B93838;
		font-family: 'Open Sans', sans-serif;
		cursor: pointer;
		outline: none;
		border-right: none;
		border-left: none;
		border-top: none;
	}
	

	#reply, #modify, #delete{
		margin-left:0.3em;
		float:right;
		background-color:#777777;
		border-radius: 0.3em;
		height:2.3em;
		color:White;
		font-size: 0.65em;
	}




}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.details-left-content {
		width: 100%;
	}
	.details-left-info {
		width: 100%;
	}

	.boardInfo{
		width:60%;
		color: #555555;	
		font-size:1em;
		float:left;
	}
	
	.likeInfo{
		width:35%;
		color: #555555;	
		font-size:1em;
		text-align:right;
		float:left;
		margin-bottom:1em;
	}

	#likeBtn{ 
		background-color:rgb(255, 255, 255);
		border:none;
		outline:none;
		}
		
		#likeImg{
		border:none;
		width:25px;
		height:25px;
		}
		
		
		#likeIt{
			margin-left:-0.15em;
			padding:0.5em 0;
			color: #000000;
			font-size: 1.5em;
		}



		

}


@media only screen and (max-width: 640px) and (min-width: 480px) {
	.details-left-content {
		width: 100%;
		float: none;
	}
	.details-left-info {
		width: 100%;
		float:none;
		clear: both;
	}

	.details-left h1{
		font-size:20px;  
		width:94%;
	}

	.boardInfo{
		width:65%;
		color: #555555;	
		font-size:1em;
		float:left;
	}

	.likeInfo{
		width:26%;
		color: #555555;	
		font-size:1em;
		text-align:right;
		float:left;
		margin-bottom:1em;
	}
	

	#likeBtn{
		background-color:rgb(255, 255, 255);
		border:none;
		outline:none;
		}
		
		#likeImg{
		border:none;
		width:20px;
		height:20px;
		}
		
		
		#likeIt{
			padding:0.5em 0;
			color: #000000;
			font-size: 1.2em;
		}
	
		.BtnGroup Button{
			margin-right:1.5em;
			float:right;
			height:2.5em;
			width:22%;
			background: #777777;
			color: #FFF;
			font-size: 0.7em;
			border-radius: 5px;
			font-family: 'Open Sans', sans-serif;
		}

		.insertComment{
			border-top:solid 1px #bbbbbb;
			margin-bottom:1em;
			padding:1.5em 0;
			padding-bottom:none;
			height:3em;
			width:100%;
			float:right;
		}
		
		.insertComment ul li input[type="text"]{
			margin-right:.1em;
			width:65%;
			padding: 0.5em 2em;
		}
		
		.insertBtn{
			padding: 0.3em 0;
			width:15%;
			background: #E45D5D;
			color: #FFF;
			font-size: 0.75em;
			border-radius: 5px;
			border-bottom: 4px solid #B93838;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
			outline: none;
			text-transform: uppercase;
			border-right: none;
			border-left: none;
			border-top: none;
		}

		#firstComment{
			border: solid .5px #a5a5a5;
			width:85%;
			padding:0.5em 2em;
			font-size:1em;
			padding-right:none;
			float:left;
		}
		
		#secondComment{
			border: solid .5px #a5a5a5;
			width:85%;
			padding:0.5em 2em;
			font-size:1em;
			padding-right:none;
			float:left;
		}
		
		#insertSecondComment{
			border: solid .5px #a5a5a5;
			width:88%;
			height:2.3em;
			font-size:.85em; 
			padding-right:none;
			float:left;
		}
		
		#sComment{
			width:53%;
			margin-right:1%;
			padding: 0.5em 2em;
		}
		
		#registerScommentBtn, #cancel{
			height:2.3em;
			width:10%;
			background: #E45D5D;
			color: #FFF;
			font-size: 0.8em;
			border-radius: 5px;
			border-bottom: 4px solid #B93838;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
			outline: none;
			border-right: none;
			border-left: none;
			border-top: none;
		}
		
	
		#reply, #modify, #delete{
			margin-left:0.3em;
			float:right;
			background-color:#777777;
			border-radius: 0.3em;
			height:2.3em;
			color:White;
			font-size: 0.65em;
		}


}
@media only screen and (max-width: 480px) and (min-width: 320px) {

	.details-left-content {
		width: 100%;
		float: none;
	}
	.details-left-info {
		width: 100%;
		float:none;
		clear: both;
	}
	.boardInfo{
		width:100%;
		color: #555555;	
		font-size:1em;
		float:left;
	}
	
	.likeInfo{
		width:100%;
		color: #555555;	
		font-size:1em;
		text-align:right;
		float:left;
		margin-bottom:1em;
	}

	#likeBtn{
		background-color:rgb(255, 255, 255);
		border:none;
		outline:none;
		}
		
		#likeImg{
		border:none;
		width:20px;
		height:20px;
		}
		
		
		#likeIt{
			padding:0.5em 0;
			color: #000000;
			font-size: 1.2em;
		}



	.BtnGroup Button{
		margin-right:1.5em;
		float:right;
		height:2.5em;
		width:30%;
		background: #777777;
		color: #FFF;
		font-size: 0.7em;
		border-radius: 5px;
		font-family: 'Open Sans', sans-serif;
	}

}

@media only screen and (max-width: 320px) and (min-width: 240px) {
	.details-left-content {
		width: 100%;
		float: none;
	}
	.details-left-info {
		width: 100%;
		float:none;
		clear: both;
	}

	.BtnGroup Button{
		margin-right:1.5em;
		float:right;
		height:2.5em;
		width:35%;
		background: #777777;
		color: #FFF;
		font-size: 0.7em;
		border-radius: 5px;
		font-family: 'Open Sans', sans-serif;
	}

	.boardInfo{
		margin-left:10px;
		width:100%;
		color: #555555;	
		font-size:1em;
		float:left;
	}
	
	.likeInfo{
		
		width:100%;
		color: #555555;	
		font-size:1em;
		text-align:right;
		float:left;
		margin-bottom:1em;
	}

	#likeBtn{
		background-color:rgb(255, 255, 255);
		border:none;
		outline:none;
		}
		
		#likeImg{
		border:none;
		width:20px;
		height:20px;
		}
		
		
		#likeIt{
			padding:0.5em 0;
			color: #000000;
			font-size: 1.2em;
		}

		

		/* 댓글 css*/
		#firstComment{
			border: solid .5px #a5a5a5;
			width:80%;
			padding:0.5em 2em;
			font-size:0.7em;
			float:left;
		}
		
		#secondComment{
			border: solid .5px #a5a5a5;
			width:80%;
			padding:0.5em 2em;
			font-size:0.7em;
			float:left;
		}
		
		#insertSecondComment{
			border: solid .5px #a5a5a5;
			width:85%;
			padding:0.5em 1em;
			font-size:1.1em;
			padding-right:none;
			float:left;
		}
		
		#sComment{
			width:58%;
			margin-right:1%;
			padding: 0.7em 2em;
		}
		
		#registerScommentBtn, #cancel{
			height:2.3em;
			width:15%;
			background: #E45D5D;
			color: #FFF;
			font-size: 0.7em;
			border-radius: 5px;
			border-bottom: 4px solid #B93838;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;
			outline: none;
			border-right: none;
			border-left: none;
			border-top: none;
		}
		
		
		
		.list{
		 padding:0.5em;
		}
		
		#reply, #modify, #delete{
			margin-left:0.3em;
			float:right;
			background-color:#777777;
			border-radius: 0.3em;
			height:2.3em;
			color:White;
			font-size:0.7em;
		}
		
		.details-right-head{
			width:90%;
		}

}


