@charset "UTF-8";


/* .memberInfo-grids{
    padding-left:5.5em;
    padding-bottom:8.8em;
}

.wrap h1{
    padding-left:4.5em;
    width:100%;
    margin-top:1.6em;
    height:2.5em;
}

#updateMember{
    margin-left:43%;
}
#deleteMember, #updateMember{
    margin-right:1.2em;
	height:2.5em;
    width:13%;
   
    background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
}

.memberInfo form input[type="submit"]:hover{
	background: #1C1C20;
	border-bottom: 4px solid #333;
}


.memberInfo-top-grid h3{
	color: #E45D5D;
	font-weight: 700;
	font-size: 1em;
	padding-bottom: 0.5em;
}
.memberInfo-top-grid span{
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.memberInfo-top-grid span label{
	color: #E45D5D;
	height: 10px;
	width: 10px;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.2em;
}
.memberInfo-top-grid p{
    margin:.5em 0;
    border: 1px solid rgb(219, 219, 219);
	outline-color: #E45D5D;
	width: 80%;
	font-size: 1em;
	padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

.memberInfo-top-grid span{
    margin:.5em 0;
}

.memberInfo-top-grid input[type="text"]{
	border: 1px solid #EEE;
	outline-color: #E45D5D;
	width: 50%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}

.memberInfo-top-grid div{
    width:48%;
    float:left;
}
#id{
    width:48%;  
}

#none span{
    color: #ffffff00;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}

#none p{
    color:rgba(255, 255, 255, 0);
    margin:.5em 0;
    border: 1px solid rgba(219, 219, 219, 0);
	outline-color: #e45d5d00;
	width: 80%;
	font-size: 1em;
	padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
	.memberInfo-top-grid div{
		width: 70%;
	}
}
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap h1{
    	width:100%;
    	margin-top:1.6em;
		height:2.5em;
		padding-left:0;
	}

	.wrap h1 span{

		width:100%;
	}

	#updateMember{
		margin-left:15%;
	}
	#deleteMember, #updateMember{
		margin-right:.5em;
		height:2.4em;
		width:25%;
		font-size:0.57em;
	}

	.memberInfo-grids{
		padding-left:0;
		padding-bottom:2em;
	}

	#none span{
		color: #ffffff00;
		font-weight: 700;
		font-size: 0.875em;
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
		display:none;
	}
	
	#none p{
		color:rgba(255, 255, 255, 0);
		margin:.5em 0;
		border: 1px solid rgba(219, 219, 219, 0);
		outline-color: #e45d5d00;
		width: 80%;
		font-size: 1em;
		padding: 0.5em;
		font-family: 'Open Sans', sans-serif;
		
		display:none;
	}



	.memberInfo-top-grid div {
		width: 70%;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
	.wrap h1{
    	width:100%;
    	margin-top:1.6em;
		height:2.5em;
		padding-left:0;
	}

	.wrap h1 span{
		width:100%;
	}

	#updateMember{
		margin-left:10%;
	}
	#deleteMember, #updateMember{
		margin-right:.5em;
		height:2.4em;
		width:25%;
		font-size:0.57em;
	}

	.memberInfo-grids{
		padding-left:0;
		padding-bottom:2em;
	}

	#none span{
		color: #ffffff00;
		font-weight: 700;
		font-size: 0.875em;
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
		display:none;
	}
	
	#none p{
		color:rgba(255, 255, 255, 0);
		margin:.5em 0;
		border: 1px solid rgba(219, 219, 219, 0);
		outline-color: #e45d5d00;
		width: 80%;
		font-size: 1em;
		padding: 0.5em;
		font-family: 'Open Sans', sans-serif;
		
		display:none;
	}




	.memberInfo-top-grid div{
		width: 96%;
	}
}
@media only screen and (max-width: 320px) and (min-width: 240px) {
	.memberInfo-top-grid div {
		width: 96%;
		margin: 0.3em 0;
	}
} */



.memberInfo-grids{
    padding-left:5.5em;
    padding-bottom:8.8em;
}

.wrap h1{
    padding-left:4.5em;
    width:100%;
    margin-top:1.6em;
    height:2.5em;
}

#updateMember{
    margin-left:43%;
}
#deleteMember, #updateMember{
    margin-right:1.2em;
	height:2.5em;
    width:13%;
   
    background: #E45D5D;
	color: #FFF;
	font-size: 0.8em;
	border-radius: 5px;
	border-bottom: 4px solid #B93838;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
}

.memberInfo form input[type="submit"]:hover{
	background: #1C1C20;
	border-bottom: 4px solid #333;
}


.memberInfo-top-grid h3{
	color: #E45D5D;
	font-weight: 700;
	font-size: 1em;
	padding-bottom: 0.5em;
}
.memberInfo-top-grid span{
	color: #08080B;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.memberInfo-top-grid span label{
	color: #E45D5D;
	height: 10px;
	width: 10px;
	display: inline-block;
	vertical-align: top;
	margin-left: 0.2em;
}
.memberInfo-top-grid p{
    margin:.5em 0;
    border: 1px solid rgb(219, 219, 219);
	outline-color: #E45D5D;
	width: 80%;
	font-size: 1em;
	padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

.memberInfo-top-grid span{
    margin:.5em 0;
}

.memberInfo-top-grid input[type="text"]{
	border: 1px solid #EEE;
	outline-color: #E45D5D;
	width: 50%;
	font-size: 1em;
	padding: 0.5em;
	font-family: 'Open Sans', sans-serif;
}

.memberInfo-top-grid div{
    width:48%;
    float:left;
}
#id{
    width:48%;  
}

#none span{
    color: #ffffff00;
	font-weight: 700;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}

#none p{
    color:rgba(255, 255, 255, 0);
    margin:.5em 0;
    border: 1px solid rgba(219, 219, 219, 0);
	outline-color: #e45d5d00;
	width: 80%;
	font-size: 1em;
	padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
	.wrap h1{
    	width:100%;
    	margin-top:1.6em;
		height:2.5em;
		padding-left:0;
	}

	.wrap h1 span{

		width:100%;
	}

	#updateMember{
		margin-left:20%;
	}
	#deleteMember, #updateMember{
		margin-right:.5em;
		height:2.4em;
		width:25%;
		font-size:0.57em;
	}

	.memberInfo-grids{
		padding-left:0;
		padding-bottom:2em;
	}

	#none span{
		color: #ffffff00;
		font-weight: 700;
		font-size: 0.875em;
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
		display:none;
	}
	
	#none p{
		color:rgba(255, 255, 255, 0);
		margin:.5em 0;
		border: 1px solid rgba(219, 219, 219, 0);
		outline-color: #e45d5d00;
		width: 80%;
		font-size: 1em;
		padding: 0.5em;
		font-family: 'Open Sans', sans-serif;
		
		display:none;
	}

	.memberInfo-top-grid div {
		width: 70%;
	}

}

@media only screen and (max-width: 1440px) and (min-width: 1366px) {
	.wrap{
		width:80%;
	}
}
@media only screen and (max-width: 1366px) and (min-width: 1280px) {
	.wrap{
		width:80%;
	}
	.login-left {
		width: 45.5%;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	.wrap{
		width:90%;
	}

	#updateMember{
		margin-left:35%;
	}
	#deleteMember, #updateMember{
		margin-right:.5em;
		height:2.4em;
		width:15%;
		font-size:0.65em;
	}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.wrap h1{
    	width:100%;
    	margin-top:0.35em;
		height:2.5em;
		padding-left:0;
	}

	.wrap h1 span{
		width:100%;
	}

	#updateMember{
		margin-left:30%;
	}
	#deleteMember, #updateMember{
		margin-right:.5em;
		height:2.4em;
		width:22%;
		font-size:0.7em;
	}

	.memberInfo-grids{
		padding-left:0;
		padding-bottom:2em;
		margin-bottom:-1em;
	}

	#none span{
		color: #ffffff00;
		font-weight: 700;
		font-size: 0.875em;
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
		display:none;
	}
	
	#none p{
		color:rgba(255, 255, 255, 0);
		margin:.5em 0;
		border: 1px solid rgba(219, 219, 219, 0);
		outline-color: #e45d5d00;
		width: 80%;
		font-size: 1em;
		padding: 0.5em;
		font-family: 'Open Sans', sans-serif;
		
		display:none;
	}

}


@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap h1{
    	width:100%;
    	margin-top:1.6em;
		height:2.5em;
		padding-left:0;
	}

	.wrap h1 span{

		width:100%;
	}

	#updateMember{
		margin-left:15%;
	}
	#deleteMember, #updateMember{
		margin-right:.5em;
		height:2.4em;
		width:25%;
		font-size:0.57em;
	}

	.memberInfo-grids{
		padding-left:0;
		padding-bottom:2em;
	}

	#none span{
		color: #ffffff00;
		font-weight: 700;
		font-size: 0.875em;
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
		display:none;
	}
	
	#none p{
		color:rgba(255, 255, 255, 0);
		margin:.5em 0;
		border: 1px solid rgba(219, 219, 219, 0);
		outline-color: #e45d5d00;
		width: 80%;
		font-size: 1em;
		padding: 0.5em;
		font-family: 'Open Sans', sans-serif;
		
		display:none;
	}

	.memberInfo-top-grid div {
		width: 70%;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
	.wrap h1{
    	width:100%;
    	margin-top:1.6em;
		height:2.5em;
		padding-left:0;
	}

	.wrap h1 span{
		width:100%;
	}

	#updateMember{
		margin-left:2%;
	}
	#deleteMember, #updateMember{
		margin-right:.2em;
		height:3em;
		width:26%;
		font-size:0.4em;
	}

	.memberInfo-grids{
		padding-left:0;
		padding-bottom:2em;
	}

	#none span{
		color: #ffffff00;
		font-weight: 700;
		font-size: 0.875em;
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
		display:none;
	}
	
	#none p{
		color:rgba(255, 255, 255, 0);
		margin:.5em 0;
		border: 1px solid rgba(219, 219, 219, 0);
		outline-color: #e45d5d00;
		width: 80%;
		font-size: 1em;
		padding: 0.5em;
		font-family: 'Open Sans', sans-serif;
		
		display:none;
	}




	.memberInfo-top-grid div{
		width: 96%;
	}
}
@media only screen and (max-width: 320px) and (min-width: 240px) {
	.memberInfo-top-grid div {
		width: 100%;	}

	#none span{
		color: #ffffff00;
		font-weight: 700;
		font-size: 0.875em;
		padding-bottom: 0.2em;
		display: block;
		text-transform: uppercase;
		display:none;
	}
	
	#none p{
		color:rgba(255, 255, 255, 0);
		margin:.5em 0;
		border: 1px solid rgba(219, 219, 219, 0);
		outline-color: #e45d5d00;
		width: 80%;
		font-size: 1em;
		padding: 0.5em;
		font-family: 'Open Sans', sans-serif;
		
		display:none;
	}

	.memberInfo-grids{
		margin-top:3em;
		padding-left:0;
		padding-bottom:2em;
	}	

	.wrap h1{
    	width:100%;
    	margin-top:1.6em;
		height:2.5em;
		padding-left:0;
	}

	.wrap h1 span{
		width:100%;
	}

	#updateMember{
		margin-left:10%;}
	#deleteMember, #updateMember{
		margin-right:.5em;
		height:5em;
		width:15em;
		font-size:0.4em;

	}

	#deleteMember{
		margin-top:1em;
		margin-left:20em;
	}

}